<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :faq %><br />
  <%= f.text_field :faq %>
</div>
<div class="field">
  <%= f.label :link %><br />
  <%= f.password_field :link %>
</div>
