<table class="profile" summary="FAQ information">
  <tr>
    <td><%= @faq.id %></td>
    <td><%= @faq.name %></td>
    <td><%= @faq.faq %></td>
    <td><%= @faq.link %></td>
    <td><%= @faq.created %></td>
    <td><%= @faq.modified %></td>
  </tr>
</table>

